/*

*/

@font-face {
  font-family: 'SCDream';
  font-weight: 900;
  font-display: swap;
  src: local('※'), 
    url('SCDream9.otf') format('opentype');
}

@font-face {
  font-family: 'SCDream';
  font-weight: 800;
  font-display: swap;
  src: local('※'),
    url('SCDream8.otf') format('opentype');
}

@font-face {
  font-family: 'SCDream';
  font-weight: 700;
  font-display: swap;
  src: local('※'),
    url('SCDream7.otf') format('opentype');
}

@font-face {
  font-family: 'SCDream';
  font-weight: 600;
  font-display: swap;
  src: local('※'),
    url('SCDream6.otf') format('opentype');
}

@font-face {
  font-family: 'SCDream';
  font-weight: 500;
  font-display: swap;
  src: local('※'),
    url('SCDream5.otf') format('opentype');
}

@font-face {
  font-family: 'SCDream';
  font-weight: 400;
  font-display: swap;
  src: local('※'),
    url('SCDream4.otf') format('opentype');
}

@font-face {
  font-family: 'SCDream';
  font-weight: 300;
  font-display: swap;
  src: local('※'),
    url('SCDream3.otf') format('opentype');
}

@font-face {
  font-family: 'SCDream';
  font-weight: 200;
  font-display: swap;
  src: local('※'),
    url('SCDream2.otf') format('opentype');
}

@font-face {
  font-family: 'SCDream';
  font-weight: 100;
  font-display: swap;
  src: local('※'),
    url('SCDream1.otf') format('opentype');
}
